!!! 5
%html{lang: "en"}
  = render 'layouts/head'
  %body
    #wrap
      .container
        = render 'layouts/header'
        -if not notice.nil?
          .alert.alert-success
            %button{ :type => "button", :class => "close", 'data-dismiss' => "alert" } &times;
            = notice
        -if not alert.nil?
          .alert.alert-danger
            %button{ :type => "button", :class => "close", 'data-dismiss' => "alert" } &times;
            = alert
        = yield
    = render 'layouts/footer'